[Desktop Entry]
Type=Application
Name=Text Editor
Comment=Edit text files
Exec=/usr/bin/mousepad
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true