[Desktop Entry]
Type=Application
Name=Firefox
Comment=Browse the web
Exec=/usr/bin/firefox
Icon=firefox
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true